<div class='card'>

  <div class='card-header title'>You are about to Checkout</div>

  <div class='card-body'>

    Your order will be delivered to ADDRESS HERE

  </div>

  <div class="card-footer">

    <div class="row">
      <div class="col-sm-6">
        <button class='btn btn-link' [routerLink]="['/confirmation']">Back</button>
      </div>
      <div class="col-sm-6">
        <button class='btn btn-success' [routerLink]="['/welcome']">Done</button>
      </div>
    </div>

  </div>

</div>
