.input-area {
  color: beige;
  margin: auto;
}

.title {
  text-align: center;
  font-weight: bold;
}

.shopping-cart {
  text-align: center;
  font-weight: bold;
  color: coral;
}

.uppercase {
  text-transform: uppercase;
}

.checkout-button {

}