<div class='card'>

  <div class='card-header title'>{{pageTitle}}</div>

  <div class='card-body'>

    <div class="row input-area">
      <div class="col">
        <input type='text' placeholder='Search product name' [(ngModel)]='listFilter' [autofocus]="true"/>
      </div>
      <div class="col image-toggle">
        <button class='btn btn-light' (click)='toggleImage()'>{{showImage ? 'Hide' : 'Show'}} Image</button>
      </div>
    </div>

    <hr>
    <p>

    <div class="row product-list" *ngIf='filteredProducts && filteredProducts.length > 0'>
      <div *ngFor='let product of filteredProducts'>
        <div class="col">
          <a [routerLink]="['/products', product.id]">
            <img *ngIf='showImage'
                 [src]='product.imageUrl' [title]='product.name'
                 [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
          </a>
        </div>
        <div>
          [<a [routerLink]="['/products', product.id]">{{ product.name }}</a>]
        </div>
      </div>
    </div>

    <hr>
    <p>
    <div class='shopping-cart'>Shopping Cart</div>
    <p>
    <hr>

    <div class="row uppercase">
      <div class="col-sm-1">
        id
      </div>
      <div class="col-sm-4">
        name
      </div>
      <div class="col-sm-4">
        quantity
      </div>
      <div class="col-sm-3"></div>
    </div>
    <div>
      <hr/>
    </div>
    <div class="row" *ngFor=' let product of dataService.orderedProducts'>
      <div class="col-sm-1">
        {{product.id}}
      </div>
      <div class="col-sm-4">
        {{product.name}}
      </div>
      <div class="col-sm-4">
        {{product.quantity}}
      </div>
      <div class="col-sm-3">
        <button class='btn btn-light' (click)='cancelOrder(product)'>Cancel Order</button>
      </div>
    </div>


  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-sm-6">
        <button class='btn btn-success' *ngIf="dataService.orderedProducts.length > 0" (click)='checkoutOrders()'>
          Proceed To Checkout
        </button>
      </div>
      <div class="col-sm-6">
        <button class='btn btn-danger' *ngIf="dataService.orderedProducts.length > 0" (click)='cancelAllOrders()'>
          Cancel All Orders
        </button>
      </div>
    </div>

  </div>

</div>

<div *ngIf='errorMessage' class='alert alert-danger'>Error: {{ errorMessage }}</div>
