<div class='card'>

  <div class='card-header title'>{{pageTitle}}</div>

  <div class='card-body'>

    <div class="row input-area">
      <div class="col">
        <input type='text' placeholder='Search product name' [(ngModel)]='listFilter' [autofocus]="true"/>
      </div>
      <div class="col image-toggle">
        <button class='btn btn-light' (click)='toggleImage()'>{{showImage ? 'Hide' : 'Show'}} Image</button>
      </div>
    </div>

    <hr>
    <p>

    <div class="row product-list" *ngIf='filteredProducts && filteredProducts.length > 0'>
      <div *ngFor='let product of filteredProducts'>
        <div class="col">
          <a [routerLink]="['/products', product.id]">
            <img *ngIf='showImage'
                 [src]='product.imageUrl' [title]='product.name'
                 [style.width.px]='imageWidth' [style.margin.px]='imageMargin' [alt]='product.name'>
          </a>
        </div>
        <div>
          [<a [routerLink]="['/products', product.id]">{{ product.name }}</a>]
        </div>
      </div>
    </div>

    <div *ngIf='dataService.orderedProducts && dataService.orderedProducts.length > 0'>

      <hr>
      <div class='row shopping-cart'>
        <div class='col-sm-12 uppercase'>Shopping Cart</div>
      </div>
      <hr>

      <div class="row uppercase">
        <div class="col-sm-4">
          name
        </div>
        <div class="col-sm-4">
          quantity
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div>
        <hr/>
      </div>
      <div class="row" *ngFor=' let product of dataService.orderedProducts'>
        <div class="col-sm-4">
          {{product.name}}
        </div>
        <div class="col-sm-4" [ngClass]="{'invalid-data': (!product.quantity || product.quantity <= 0)}">
          {{product.quantity ? product.quantity : '' + product.quantity}}
        </div>
        <div class="col-sm-4">
          <button class='btn btn-light' (click)='cancelOrder(product)'>Cancel Order</button>
        </div>
      </div>

    </div>

  </div>

  <div class="card-footer">
    <div class="row" *ngIf="dataService.orderedProducts.length > 0">
      <div class="col-sm-6">
        <button class='btn btn-danger' (click)='cancelAllOrders()'>Cancel All Orders</button>
      </div>
      <div class="col-sm-6">
        <button class='btn btn-success' (click)='confirmInformation()'>Finished Shopping</button>
      </div>
    </div>
  </div>

</div>

<div *ngIf='errorMessage' class='alert alert-danger'>Error: {{ errorMessage }}</div>
