<div class='card'>

  <div class='card-header'>{{pageTitle}}</div>

  <div class='card-body'>
    <div class="row">
      <div class="col">
        <input type='text' placeholder='enter product name' [(ngModel)]='listFilter'/>
      </div>
      <div class="col">
        <button class='btn btn-sm' (click)='toggleImage()'>{{showImage ? 'Hide' : 'Show'}} Image</button>
      </div>
    </div>

    <div class="row" *ngIf='products && products.length'>
      <div *ngFor='let product of filteredProducts'>
        <div class="col">
          <a [routerLink]="['/products', product.id]">
            <img *ngIf='showImage'
                 [src]='product.imageUrl' [title]='product.name'
                 [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
          </a>
        </div>
        <div>
          [<a [routerLink]="['/products', product.id]">{{ product.name }}</a>]
        </div>
      </div>
    </div>

  </div>

  <div class="card-footer">Shopping Cart
    <div class="row">
        <div class="col-sm-4">
            ID
        </div>
        <div class="col-sm-4">
            NAME
        </div>
        <div class="col-sm-4">
            QUANTITY
        </div>
    </div>
    <hr/>
    <div class="row" *ngFor=' let prod of dataService.orderedProducts'>
      <div class="col-sm-4">
          {{prod.id}}
      </div>
      <div class="col-sm-4">
          {{prod.name}}
      </div>
      <div class="col-sm-4">
          {{prod.quantity}}
      </div>
    </div>
  </div>
</div>

<div *ngIf='errorMessage' class='alert alert-danger'>Error: {{ errorMessage }}</div>
