<div class='card' *ngIf='product'>
  <div class='card-header'>
    {{pageTitle + ': ' + product.name}}
  </div>

  <div class='card-body'>
    <div class='row'>

      <div class='col-sm-6'>
        <div class='row'>
          <div class='col-sm-4'>ID</div>
          <div class='col-sm-8'>{{product.id}}</div>
        </div>
        <div class='row'>
          <div class='col-sm-4'>Name:</div>
          <div class='col-sm-8'>{{product.name}}</div>
        </div>
        <div class='row'>
          <div class='col-sm-4'>Barcode:</div>
          <div class='col-sm-8'>{{product.barcode | lowercase | convertToSpaces: '-'}}</div>
        </div>
        <div class='row'>
          <div class='col-sm-4'>Description:</div>
          <div class='col-sm-8'>{{product.description}} </div>
        </div>
        <div class='row'>
          <div class='col-sm-4'>Availability:</div>
          <div class='col-sm-8'>{{product.handling}}</div>
        </div>
        <div class='row'>
          <div class='col-sm-4'>Quantity:</div>
          <div class='col-sm-8'>
            <input type='number' min="1" placeholder='enter number' [(ngModel)]='product.quantity' [autofocus]="true" />
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <img class='center-block img-responsive'
             [style.width.px]='300'
             [style.height.px]='300'
             [style.margin.px]='2'
             [src]='product.imageUrl'
             [title]='product.name'>
      </div>
    </div>

  </div>

  <div class='card-footer' class="row">
    <div class='col-sm-4'>
      <button class='btn btn-outline-secondary' (click)='onBack()' style='width:80px'>
        <i class='fa fa-chevron-left'></i> Back
      </button>
    </div>
    <div class='col-sm-4'>
      <button class='btn btn-info' (click)='onAddToShoppingCart()'>Add to shopping cart</button>
    </div>
    <div class=col-sm-4>{{activityLog}}</div>

  </div>
</div>

<!-- div class='row'>
  <div class='col-md-4'>Price:</div>
  <div class='col-md-8'>{{product.price|currency:'USD':'symbol'}}</div>
</div>
<div class='row'>
  <div class='col-md-4'>5 Star Rating:</div>
  <div class='col-md-8'>
    <pm-star [rating]='product.starRating'>
    </pm-star>
  </div>
</div -->
